:root {
    --main-bg-color: #eee;
 }

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    color: #333;
    font-family: "Lucida Console", Monaco, monospace;
}

#main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: var(--main-bg-color);
    border-radius: 10px;
}

ul {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px auto;

}

li {
    margin: 15px 10px;
    background: whitesmoke;
    padding: 20px 0;
    border-radius: 25%;
    list-style-type: none;
}

li:before {
    content: '\1F680';
    margin-left: -20px;
    margin-right: 10px;
}

#sideline {
    margin: 50px 0;
    text-align: center;
    align-self: center;
}

#img-div {
    background: white;
}

#image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}