html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
    color: #333;
}
#main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #eee;
    border-radius: 10px;
}
ul{
    text-align: left;
    max-width: 600px;
    margin: 0 auto 40px auto;
  
}

li {
    margin: 15px 0;
}

#sideline {
    margin: 50px 0;
    text-align: center;
    align-self: center;
}
#img-div{
    background: white;
}

#image{
    max-width: 100%;
    display: block;
    margin:0 auto;
    border-radius: 50%;
}

#tribute-info{
 display: flex;
 flex-direction: column;
 align-items: center;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }